@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CV Cemal Kalac</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script defer src="gdpr.js"></script>
</head>

<body>
    <div class="page">
        <section class="personalia">
            <img class="person-logo"
                 src="images/foto-cemal.jpeg"
                 alt="Foto van Cemal Kalac" />
            <h1 class="person-name">Cemal Kalac</h1>

            <div class="person-content__category">
                <h3>Biografie</h3>
                <hr />
            </div>

            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">Geslacht:</h4>
                    <p class="person-content__period">Man</p>
                </div>
            </div>
            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">Geboortedatum:</h4>
                    <p class="person-content__period">17-05-2005</p>
                </div>
            </div>

            <div class="person-content__category">
                <h3>Contact</h3>
                <hr />
            </div>

            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">Plaats:</h4>
                    <p class="person-content__period">Deventer</p>
                </div>
            </div>
            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">E-mail:</h4>
                    <p class="person-content__period">Cs.kalac@live.nl</p>
                </div>
            </div>
            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">Telefoonnummer:</h4>
                    <p class="person-content__period">+31 6 13504427</p>
                </div>
            </div>
            <div class="person-content__element">
                <div class="person-content__element-header">
                    <h4 class="person-content__title">Nationaliteit:</h4>
                    <p class="person-content__period">Nederlandse</p>
                </div>
            </div>
        </section>

        <section class="profile">
            <section class="profile-content">
                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Profiel</h3>
                    <hr />
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header"></div>
                    <p class="profile-content__description">
                        Ik ben een gepassioneerde software development student aan
                        Windesheim Zwolle, waar ik mijn vaardigheden ontwikkel in het
                        ontwerpen, ontwikkelen en implementeren van innovatieve
                        softwareoplossingen. Mijn interesse in technologie en computers
                        begon al op jonge leeftijd, en ik ben vastbesloten om mijn kennis
                        verder uit te breiden en mijn carrière te maken in dit boeiende
                        vakgebied.
                    </p>

                    <p></p>
                </div>

                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Opleidingen</h3>
                    <hr />
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Havo</h4>
                        <p class="profile-content__period">nov 2017 - mei 2022</p>
                    </div>
                    <p class="profile-content__institute">Het Vlier, Deventer</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">HBO-ICT</h4>
                        <p class="profile-content__period">sep 2022 - heden</p>
                    </div>
                    <p class="profile-content__institute">Windesheim, Zwolle</p>
                </div>
                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">
                        Stage- en Werkervaring
                    </h3>
                    <hr />
                </div>
                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Lidl Hulpkracht</h4>
                        <p class="profile-content__period">sept 2021 - heden</p>
                    </div>
                    <p class="profile-content__institute">Deltaplein, Deventer</p>
                </div>
                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Raster Cup</h4>
                        <p class="profile-content__period">mrt 2020 - apr 2020</p>
                    </div>
                    <p class="profile-content__institute">Deventer</p>
                </div>
            </section>
        </section>
        <section class="gdpr-consent hide">
            <div class="gdpr-consent__description">
                <p>
                    Deze website gebruikt cookies. We gebruiken cookies om content te
                    personaliseren, voor social media en het analyseren van verkeer op
                    de website, advertenties.
                </p>
            </div>

            <div class="gdpr-consent__choice">
                <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
                <button class="gdpr-consent__button--reject">
                    Neu, misschien later
                </button>
            </div>
        </section>
    </div>
</body>
</html>

