
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="~/images/foto-cemal.jpeg" alt="Foto van Cemal Kalac" />
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">Over mij</h1>
                    <p>
                        Ik ben een gepassioneerde software development student aan
                        Windesheim Zwolle, waar ik mijn vaardigheden ontwikkel in het
                        ontwerpen, ontwikkelen en implementeren van innovatieve
                        softwareoplossingen. Mijn interesse in technologie en computers
                        begon al op jonge leeftijd, en ik ben vastbesloten om mijn kennis
                        verder uit te breiden en mijn carrière te maken in dit boeiende
                        vakgebied.
                    </p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Vaardigheden</p>
                        <p class="tab-links" onclick="opentab('experience')">Ervaring</p>
                        <p class="tab-links" onclick="opentab('education')">Opleidingen</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>JAVA</span><br></li>
                            <li><span>PHP</span><br></li>
                            <li><span>C#</span><br></li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>Lidl Hulpkracht</span><br>Deltaplein, Deventer<br><p>sep 2021 - heden</p></li>
                            <li><span>Raster Cup</span><br>Deventer<br><p>mrt 2020 - apr 2020</p></li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Havo</span><br>Het Vlier, Deventer<br><p>nov 2017 - mei 2022</p></li>
                            <li><span>HBO-ICT</span><br>Het Windesheim, Zwolle<br><p>sep 2022 - heden</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
